<mat-card>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Login</mat-label>
    <input matInput [(ngModel)]="inputValue" name="nome"  placeholder="Digite o seu login">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Senha</mat-label>
    <input matInput type="password" [(ngModel)]="inputPassword" name="senha" placeholder="Digite a sua senha">
  </mat-form-field>

  <button mat-flat-button type="submit" (click)="fazerLogin()">Entrar</button>
  <span><a href="#">Esqueceu a senha?</a></span>
  </form>
</mat-card>