    
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div 
        style="display: flex; height: 300px; width: 600px;
        box-shadow: 2px; background-color: beige; margin-right:100px; margin-left: 80px;">
         <canvas #barGraph width="300" height="300"></canvas>
        </div>

    </mat-grid-tile>

    <mat-grid-tile>
        <div 
        style="display: flex; height: 300px; width: 600px;
        box-shadow: 2px; background-color: beige; margin-right:100px;">
        <canvas #pizzaGraph></canvas>
        </div>

    </mat-grid-tile>

    <mat-grid-tile>

        <div 
        style="display: flex; height: 300px; width: 600px;
        box-shadow: 2px; background-color: beige; margin-right:100px;margin-top: 30px;">
        <canvas #lineGraph></canvas>
        </div>

    </mat-grid-tile>

    <mat-grid-tile>
        <div  style="display: flex; height: 300px; width: 600px;">
            <app-card></app-card>
        </div>
    </mat-grid-tile>



</mat-grid-list>
   
    


   

   

    





